@{
    ViewData["Title"] = "Home Page";
}

<!-- HERO SECTION -->
<div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h1 class="header col s12">
                    Automobile Service Center
                </h1>

                <h5 class="header col s12 light">
                    Where Quality meets Safety
                </h5>

                <br />

                <a href="#" class="btn-large waves-effect waves-light">
                    Get Started
                </a>
            </div>
        </div>
    </div>

    <div class="parallax">
        <img src="~/images/background1.jpg" alt="Car background">
    </div>
</div>

<!-- ICON SECTION -->
<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">group</i>
                    </h2>
                    <h5 class="center">Who we are</h5>
                    <p class="light">
                        We believe in providing seamless and high-quality services
                        to our customers. Our customer-first approach will offer a unique
                        personalized experience that will bring more value to your car.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">flash_on</i>
                    </h2>
                    <h5 class="center">Our Competency</h5>
                    <p class="light">
                        We resolve complex technical challenges through innovative solutions.
                        Our engineers are highly qualified with advanced training.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">settings</i>
                    </h2>
                    <h5 class="center">Easy to work with</h5>
                    <p class="light">
                        We provide detailed insights and maintain continuous communication
                        with our customers.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- PARALLAX 1 -->
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">
                    Committed to delivering unprecedented quality
                </h5>
            </div>
        </div>
    </div>

    <div class="parallax">
        <img src="~/images/background2.jpg">
    </div>
</div>

<!-- CUSTOMER VALUE -->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h4>Customer Value</h4>
                <p class="left-align light">
                    Automobile Service Center is a value-driven company committed to
                    delivering high-quality services and maintaining trust with customers.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- PARALLAX 2 -->
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">
                    Humility, Empathy, Hard Work, and Technology
                </h5>
            </div>
        </div>
    </div>

    <div class="parallax">
        <img src="~/images/background3.jpg">
    </div>
</div>